/**
 * embedded.css for embedded version
*/
@media screen and (max-width: 640px) {
	body {
		font-size	: 60%;
	}
	#osdContainer .button img {
		width	: 48px;
	}
}

@media screen and (max-width: 320px) {
	body {
		font-size	: 45%;
	}
	#osdContainer .button img {
		width	: 32px;
	}
}