#osdContainer {
	position	: relative;
}

#osdContainer .menuLine {
	font-size	: 300%;

	color		: #EEE;
	text-shadow	: 0 0 0.2em #44A, 0 0 1em #A66;

	font-weight	: bolder;
}

#osdContainer .button {
	cursor		: pointer;
}
#osdContainer .button img {
	padding		: 15px;
}

#osdContainer .button img:hover {
	background-color: #444;
	border-radius: 0.5em;
}

#osdContainer .sidebarLeft {
	position	: absolute;
	top		: 10px;
	left		: 10px;
	width		: 40em;
}

#osdContainer .jqmWindow h3 {
	text-align	: center;
}

#osdContainer .helpDialog {
	width	: 20em;
	height	: 12em;

	left	: 50%;
	top	: 50%;
	margin	: -6em 0 0 -10em;

}