#osdContainer {
	font-size	: 300%;

	color		: #EEE;
	text-shadow	: 0 0 0.2em #44A, 0 0 1em #A66;

	font-weight	: bolder;
	
	position	: absolute;
	top		: 0px;
	left		: 0px;

}

#osdContainer .score {
	position	: absolute;
	top		: 10px;
	left		: 10px;
	width		: 30em;
}
